*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --card-title-border-color: #338AF3;
    --card-color-primary: #338AF3;
    --card-bg-color: #202024;
    --bg: url(./assets/bg-blue.jpg);
}

body.yellow{
    --card-title-border-color: #746615;
    --card-color-primary: #F7DD43;
    --card-bg-color: #1D1C19;
    --bg: url(./assets/bg-yellow.svg);
}

body.blue{
    --card-title-border-color: #338AF3;
    --card-color-primary: #338AF3;
    --card-bg-color: #202024;
    --bg: url(./assets/bg-blue.jpg);
}

body.green{
    --card-title-border-color: #047C3F;
    --card-color-primary: #047C3F;
    --card-bg-color: #1A1F1B;
    --bg: url(./assets/br-green.jpg);
}

ul{
    list-style: none;
}

body{
    background-color: #121214;
    background-image: var(--bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body *{
    font-family: 'Roboto', sans-serif;
}

#app{
    width: fit-content;
    margin: 52px auto;
}

header{
    margin-bottom: 15px;
    text-align: center;
}

#cards{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card{
    padding: 32px 23px;
    text-align: center;

    background: var(--card-bg-color);
    border-bottom: 2px solid var(--card-color-primary);
    border-radius: 6px;
    /* height: fit-content; */
}

.card h2{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;
    border: 1px solid var(--card-title-border-color);
    border-radius: 6px;

    width: fit-content;
    margin-inline: auto;
    margin-bottom: 43px;

    color: #F7DD43;
}

.card h2 span{
    color: #E1E1E6;
    font-size: 14px;
    text-transform: uppercase;
}

.card ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
    //border: solid red;
}

.card ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //border: solid blue;
}

.horario{
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    color: #E1E1E6;
    //border: solid yellow;
    width: 100%;
}

.emBreve{
    color: #E1E1E6;
    font-size: 10px;
    font-weight: 300;
    margin-top: -36px;
}

.placar{
    color: #F7DD43;
}

.hidden{
    display: none;
}

.card ul li figure figcaption {
    color: #E1E1E6;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    //border: solid green;
}

.card ul span + li{
    border-top: 1px solid #323238;
    padding-top: 24px;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li figure:hover{
  transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.card ul li figure{
    width: 74px;
}

.card {
    animation: appear 0.2s;
}

.date:hover{
    background-color: #000000;
}

.flag:hover{
    transform: scale(1.1);
    transition: all 1s;
}



@keyframes appear {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 700px) {

    #cards{
        max-width: 1020px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

a {
    text-decoration: none;
    color: var(--card-color-primary);
  }

  footer {
    text-align: center;
    margin-top: 30px;
    padding: 19px;
    color: #e1e1e6;
    border-top: 1px solid #e1e1e621;
  }

